################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TravelAgency
/bin/Debug/net8.0
/obj
/.vs/CopilotSnapshots/647610A33B5D494682711A2F05A55DA9
